<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отзыв подробнее</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<table>
    <tbody>
    <tr>
        <td>Заказчик: </td>
        <td th:text="${review.getCaller().getUsername()}"></td>
    </tr>
    <tr>
        <td>Дата оформления отзыва: </td>
        <td th:text="${review.getBeautyTimestamp()}"></td>
    </tr>
    <tr>
        <td>Название оборудования: </td>
        <td th:text="${review.getEquipment()}"></td>
    </tr>
    <tr>
        <td>Причина вызова: </td>
        <td th:text="${review.getReason()}"></td>
    </tr>
    <tr>
        <td>Имя рабочего: </td>
        <td th:text="${review.getWorker().getUsername()}"></td>
    </tr>
    <tr>
        <td>Работа выполнена: </td>
        <td><span th:if="${review.workDone}">Да</span><span th:unless="${review.workDone}">Нет</span></td>
    </tr>
    <tr>
        <td>Комментарий: </td>
        <td th:text="${review.getComment()}"></td>
    </tr>
    <tr>
        <td>Оценка рабочего: </td>
        <td th:text="${review.getRating()}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/review/{id}/edit(id=${review.id})}">
    <button>Редактировать</button>
</a>
<form th:method="DELETE" th:action="@{/review/{name}(name=${review.id})}">
    <input type="submit" value="Удалить"/>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>