<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header" id="header">
    <script type="text/javascript" th:src="@{/js/scroll_magic.js}"></script>
    <hr/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/header_text.js}"></script>
    <div style="text-align: center; margin: auto">
        <span id="mainTitle">Отзовик</span>
        <div>
            <img src="/img/smiles.png" alt="" id="smiles">
        </div>
    </div>
    <hr/>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">
        <button class="headerButton submitButton">Войти</button>
    </a>
    <a sec:authorize="isAnonymous()" th:href="@{/registration}">
        <button class="headerButton submitButton">Регистрация</button>
    </a>
    <span id="loginInfo" sec:authorize="isAuthenticated()">Вы вошли как:
        <span sec:authentication="principal.username" style="color: #F2F2F2"></span>
    </span>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="POST" style="display: inline;">
        <input type="submit" value="Выйти"  class="headerButton submitButton"/>
    </form>
    <a sec:authorize="isAuthenticated()" th:href="@{/persons/edit}">
        <button class="headerButton submitButton">Мои настройки</button>
    </a>
    <hr/>
    <a th:href="@{/}">
        <button class="headerButton">Рейтинг<br/>рабочих</button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/persons/workers}">
        <button class="headerButton submitButton">Список<br/>рабочих</button>
    </a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/persons}">
        <button class="headerButton submitButton">Список<br/>пользователей</button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/reviews}">
        <button class="headerButton submitButton">Все<br/>отзывы</button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/reviews/my}">
        <button class="headerButton submitButton">Мои<br/>отзывы</button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/reviews/on_me}">
        <button class="headerButton submitButton">Отзывы<br/>на меня</button>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{/reviews/add}">
        <button class="headerButton submitButton">Добавить<br/>отзыв</button>
    </a>
    <hr/>
    <div id="pageTitle"></div>
</div>
</body>
</html>