textarea {
    resize: none;
}
.error_line{
    color: red;
}
.left_align{
    text-align: left;
}
.right_align{
    text-align: right;
}
.center_align{
    text-align: center;
}
body {
    margin: 0 auto;
    text-align: center
}
table{
    margin-left: auto;
    margin-right: auto;
}