<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лучший работник</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<table>
    <thead>
    <tr>
        <th>Имя работника</th>
        <th>Рейтинг за год</th>
        <th>Число отзывов за год</th>
        <th>Подробнее</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.getUsername()}"></td>
        <td th:text="${person.getStringRating()}"></td>
        <td th:text="${person.getNumOfCalcReviews()}"></td>
        <td><a th:href="@{/persons/{name}(name=${person.getUsername()})}">Подробнее</a></td>
    </tr>
    <tr th:if="${persons.isEmpty()}">
        <td colspan="4">Нет записей</td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>