<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <form th:method="PATCH" th:action="@{/persons/edit_pass}" th:object="${password}">
        <table>
            <tbody>
            <tr>
                <td colspan="2" class="center_align">Ф.И.О.: <span sec:authentication="name"></span></td>
            </tr>

            <tr>
                <td class="right_align"><label for="oldPassword">Старый пароль: </label></td>
                <td><input type="password" th:field="*{oldPassword}" id="oldPassword"/></td>
            </tr>
            <tr th:if="${#fields.hasErrors('oldPassword')}">
                <td colspan="2" class="error_line center_align" th:errors="*{oldPassword}"></td>
            </tr>

            <tr>
                <td class="right_align"><label for="newPassword">Новый пароль: </label></td>
                <td><input type="password" th:field="*{newPassword}" id="newPassword"/></td>
            </tr>
            <tr th:if="${#fields.hasErrors('newPassword')}">
                <td colspan="2" class="error_line center_align" th:errors="*{newPassword}"></td>
            </tr>

            <tr>
                <td class="right_align"><label for="confirmPassword">Подтвердите пароль: </label></td>
                <td><input type="password" th:field="*{confirmPassword}" id="confirmPassword"/></td>
            </tr>
            <tr th:if="${#fields.hasErrors('confirmPassword')}">
                <td colspan="2" class="error_line center_align" th:errors="*{confirmPassword}"></td>
            </tr>

            <tr>
                <td colspan="2" class="center_align"><input type="submit" value="Изменить"/></td>
            </tr>
            </tbody>
        </table>


    </form>
<div th:replace="fragments/back_button :: back_button"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>