<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<table>
    <tbody>
    <tr>
        <td>Имя:</td>
        <td th:text="${person.getUsername()}"></td>
    </tr>
    <tr>
        <td>Возраст:</td>
        <td th:text="${person.getAge()}"></td>
    </tr>
    <tr>
        <td>Описание услуги:</td>
        <td th:text="${person.getServiceDescription()}"></td>
    </tr>
    <tr>
        <td>Стаж:</td>
        <td th:text="${person.getExperience()}"></td>
    </tr>
    <tr>
        <td>Телефон:</td>
        <td th:text="${person.getPhone()}"></td>
    </tr>
    <tr>
        <td>Цена услуги:</td>
        <td th:text="${person.getPrice()}"></td>
    </tr>
    <tr>
        <td>Рейтинг:</td>
        <td th:text="${person.getRating()}"></td>
    </tr>
    </tbody>
</table>
<a th:if="${person.iamWorker && person.currentUserNotMe()}" th:href="@{/review/add?workerName={name}(name=${person.getUsername()})}">
    <button>Написать отзыв</button>
</a>
<form sec:authorize="hasRole('ADMIN')" th:method="DELETE" th:action="@{/person/{name}(name=${person.username})}">
    <input type="submit" value="Удалить"/>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
</body>
</html>